{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="Iscae Layers3 Team">
    <meta name="description" content="nuit de l'info">
    <meta name="keywords" content=" 
    nuit, info, iscae, layers3, mauritania
">
    <title>Iscae Layers3 Team</title>
    <link rel="canonical" href="https://www.layers3-squad.online/">
    <link rel="alternate" hreflang="ar" href="https://www.layers3-squad.online/">
    <link rel="alternate" hreflang="fr" href="https://www.layers3-squad.online/">
    <link rel="alternate" hreflang="en" href="https://www.layers3-squad.online/">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <h1>{{test}} </h1>
    </header>
    
</body>
</html>